@model LoginUserVM
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
        <!-- Login Form s-->
        <form method="post">
            <div class="login-form">
                <h4 class="login-title">
                    Login Form<h4>
                        <div class="text-danger" style="font-size:30px; font-weight:600;" asp-validation-summary="ModelOnly"></div>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="UserNameOrEmail">Username or email</label>
                                <input asp-for="UserNameOrEmail" class="mb-0 form-control"
                                       placeholder="Enter your username or email">
                                <span style="color:red; font-weight:600; font-size:22px;" asp-validation-for="UserNameOrEmail"></span>
                            </div>
                            
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" class="mb-0 form-control"
                                       placeholder="Enter your password">
                                <span style="color:red; font-weight:600; font-size:22px;" asp-validation-for="Password"></span>

                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <div class="d-flex justify-content-center align-items-center">
                                    <input style="width:30px; height:30px" asp-for="IsRemembered" />
                                    <label style="margin:0px 0px 0px 15px; font-size:20px" asp-for="IsRemembered">Remember me</label>
                                </div>
                               

                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outlined">Login</button>
                            </div>
                        </div>
            </div>
        </form>
    </div>
</div>
