@model List<Genre>
@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Genres Table</h4>
                <a class="btn btn-success" asp-controller="genre" asp-action="create">Create Table</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Books count
                                </th>
                                <th>
                                    Settings
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Genre genre in Model)
                            {
                                count++;
                                <tr>

                                    <td>
                                      @count  
                                    </td>
                                    <td>
                                        @genre.Name
                                    </td>
                                    <td>
                                        @genre.Books.Count
                                    </td>
                                    <td>
                                        <a asp-controller="genre" asp-action="edit" class="btn btn-warning btn-info"><i class="mdi mdi-lead-pencil"></i></a>
                                        <a asp-controller="genre" asp-action="delete" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                        <a asp-controller="genre" asp-action="detail" class="btn btn-primary btn-info"><i class="mdi mdi-link-variant"></i></a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
